.container {
  max-width: 100% !important;
  padding-inline: 1rem;
}

.hidden {
  display: none;
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  font-family: "Inter", sans-serif;
  --primary: #06b6d4;
  --background: rgba(255, 255, 255, 1);
  --card-background: rgba(255, 255, 255, 1);
  --logo-color: rgba(35, 31, 32, 1);
  /* Text */
  --ifm-heading-font-family: "Inter", sans-serif;
  --ifm-heading-color: rgba(15, 23, 42, 1);
  --ifm-font-color-base: rgba(71, 85, 105, 1);
  --ifm-navbar-link-hover-color: var(--primary);
  --ifm-menu-color-active: var(--primary);
  --ifm-breadcrumb-color-active: var(--primary);
  --ifm-link-color: var(--primary);
  --ifm-pagination-nav-color-hover: var(--primary);
  --ifm-color-emphasis-300: rgba(203, 213, 225, 1);

  /* Subtle colors */
  --ifm-menu-color-background-active: rgba(248, 250, 252, 1);
  --ifm-toc-border-color: rgba(203, 213, 225, 1);

  /* Spacing */
  --ifm-menu-link-padding-vertical: 6px;
  --ifm-menu-link-padding-horizontal: 16px;
  --ifm-global-spacing: 8px 10px;

  /* Text Sizes */
  --ifm-h1-font-size: 3rem;
  --ifm-h2-font-size: 2.25rem;
  --ifm-h3-font-size: 1.875rem;
  --ifm-h4-font-size: 1.5rem;
  --ifm-h5-font-size: 1.25rem;

  /* Breadcrumb */
  --ifm-breadcrumb-padding-vertical: 0px;
  --ifm-breadcrumb-padding-horizontal: 1px;
  --ifm-breadcrumb-separator-size: 1.25rem;
  --ifm-breadcrumb-item-background-hover: transparent;
  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-breadcrumb-color-active: rgba(15, 23, 42, 1);
  --ifm-breadcrumb-separator-size-multiplier: 1.25;
  --ifm-breadcrumb-separator: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 4.16663L5.83333 15.8333' stroke='%23475569' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");

  /* Menu Caret */
  --ifm-menu-link-sublist-icon-filter: none;
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24'%3E%3Cpath fill='%23334155' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'%3E%3C/path%3E%3C/svg%3E");

  /* Card */
  --ifm-card-border-radius: 0.25rem;

  /* Navbar */
  --ifm-navbar-height: 6.125rem;
  --facebook-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10V14H10V21H14V14H17L18 10H14V8C14 7.73478 14.1054 7.48043 14.2929 7.29289C14.4804 7.10536 14.7348 7 15 7H18V3H15C13.6739 3 12.4021 3.52678 11.4645 4.46447C10.5268 5.40215 10 6.67392 10 8V10H7Z' stroke='%23475569' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  --discord-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4999 17C15.4999 18 16.9999 20 17.4999 20C18.9999 20 20.3329 18.333 20.9999 17C21.6669 15.333 21.4999 11.167 19.4999 5.5C18.0429 4.485 16.4999 4.16 14.9999 4L14.0279 5.923C12.6869 5.6915 11.316 5.6915 9.97495 5.923L8.99995 4C7.49995 4.16 5.95695 4.485 4.49995 5.5C2.49995 11.167 2.33295 15.333 2.99995 17C3.66695 18.333 4.99995 20 6.49995 20C6.99995 20 8.49995 18 8.49995 17M7 16.5C10.5 17.5 13.5 17.5 17 16.5M8 12C8 12.2652 8.10536 12.5196 8.29289 12.7071C8.48043 12.8946 8.73478 13 9 13C9.26522 13 9.51957 12.8946 9.70711 12.7071C9.89464 12.5196 10 12.2652 10 12C10 11.7348 9.89464 11.4804 9.70711 11.2929C9.51957 11.1054 9.26522 11 9 11C8.73478 11 8.48043 11.1054 8.29289 11.2929C8.10536 11.4804 8 11.7348 8 12ZM14 12C14 12.2652 14.1054 12.5196 14.2929 12.7071C14.4804 12.8946 14.7348 13 15 13C15.2652 13 15.5196 12.8946 15.7071 12.7071C15.8946 12.5196 16 12.2652 16 12C16 11.7348 15.8946 11.4804 15.7071 11.2929C15.5196 11.1054 15.2652 11 15 11C14.7348 11 14.4804 11.1054 14.2929 11.2929C14.1054 11.4804 14 11.7348 14 12Z' stroke='%23475569' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  --github-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 19C4.7 20.4 4.7 16.5 3 16M15 21V17.5C15 16.5 15.1 16.1 14.5 15.5C17.3 15.2 20 14.1 20 9.50001C19.9988 8.30498 19.5325 7.15732 18.7 6.30001C19.0905 5.26198 19.0545 4.11164 18.6 3.10001C18.6 3.10001 17.5 2.80001 15.1 4.40001C13.0672 3.8706 10.9328 3.8706 8.9 4.40001C6.5 2.80001 5.4 3.10001 5.4 3.10001C4.94548 4.11164 4.90953 5.26198 5.3 6.30001C4.46745 7.15732 4.00122 8.30498 4 9.50001C4 14.1 6.7 15.2 9.5 15.5C8.9 16.1 8.9 16.7 9 17.5V21' stroke='%23475569' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  --x-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 20L10.768 13.232M13.228 10.772L20 4M4 4L15.733 20H20L8.267 4H4Z' stroke='%23475569' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");

  --ifm-background-color: var(--background);
  --ifm-navbar-background-color: var(--background);
  --ifm-footer-background-color: var(--background);
  --ifm-card-background-color: var(--card-background);
  --ifm-color-primary: var(--primary);
  --ifm-color-primary-dark: #06b6d4;
  --ifm-color-primary-darker: #0891b2;
  --ifm-color-primary-darkest: #0e7490;
  --ifm-color-primary-light: #22d3ee;
  --ifm-color-primary-lighter: #67e8f9;
  --ifm-color-primary-lightest: #a5f3fc;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
:root[data-theme="dark"] {
  --background: rgba(15, 23, 42, 1);
  --card-background: rgba(30, 41, 59, 1);
  --logo-color: rgba(255, 255, 255, 1);

  /* Text */
  --ifm-heading-color: rgba(248, 250, 252, 1);
  --ifm-font-color-base: rgba(148, 163, 184, 1);
  --ifm-navbar-link-hover-color: #06b6d4;
  --ifm-menu-color-active: #06b6d4;

  /* Subtle colors */
  --ifm-menu-color-background-active: rgba(30, 41, 59, 1);

  /* Menu Caret */
  --ifm-menu-link-sublist-icon-filter: none;

  /* Navbar */
  --facebook-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10V14H10V21H14V14H17L18 10H14V8C14 7.73478 14.1054 7.48043 14.2929 7.29289C14.4804 7.10536 14.7348 7 15 7H18V3H15C13.6739 3 12.4021 3.52678 11.4645 4.46447C10.5268 5.40215 10 6.67392 10 8V10H7Z' stroke='%2394a3b8' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  --discord-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4999 17C15.4999 18 16.9999 20 17.4999 20C18.9999 20 20.3329 18.333 20.9999 17C21.6669 15.333 21.4999 11.167 19.4999 5.5C18.0429 4.485 16.4999 4.16 14.9999 4L14.0279 5.923C12.6869 5.6915 11.316 5.6915 9.97495 5.923L8.99995 4C7.49995 4.16 5.95695 4.485 4.49995 5.5C2.49995 11.167 2.33295 15.333 2.99995 17C3.66695 18.333 4.99995 20 6.49995 20C6.99995 20 8.49995 18 8.49995 17M7 16.5C10.5 17.5 13.5 17.5 17 16.5M8 12C8 12.2652 8.10536 12.5196 8.29289 12.7071C8.48043 12.8946 8.73478 13 9 13C9.26522 13 9.51957 12.8946 9.70711 12.7071C9.89464 12.5196 10 12.2652 10 12C10 11.7348 9.89464 11.4804 9.70711 11.2929C9.51957 11.1054 9.26522 11 9 11C8.73478 11 8.48043 11.1054 8.29289 11.2929C8.10536 11.4804 8 11.7348 8 12ZM14 12C14 12.2652 14.1054 12.5196 14.2929 12.7071C14.4804 12.8946 14.7348 13 15 13C15.2652 13 15.5196 12.8946 15.7071 12.7071C15.8946 12.5196 16 12.2652 16 12C16 11.7348 15.8946 11.4804 15.7071 11.2929C15.5196 11.1054 15.2652 11 15 11C14.7348 11 14.4804 11.1054 14.2929 11.2929C14.1054 11.4804 14 11.7348 14 12Z' stroke='%2394a3b8' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  --github-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 19C4.7 20.4 4.7 16.5 3 16M15 21V17.5C15 16.5 15.1 16.1 14.5 15.5C17.3 15.2 20 14.1 20 9.50001C19.9988 8.30498 19.5325 7.15732 18.7 6.30001C19.0905 5.26198 19.0545 4.11164 18.6 3.10001C18.6 3.10001 17.5 2.80001 15.1 4.40001C13.0672 3.8706 10.9328 3.8706 8.9 4.40001C6.5 2.80001 5.4 3.10001 5.4 3.10001C4.94548 4.11164 4.90953 5.26198 5.3 6.30001C4.46745 7.15732 4.00122 8.30498 4 9.50001C4 14.1 6.7 15.2 9.5 15.5C8.9 16.1 8.9 16.7 9 17.5V21' stroke='%2394a3b8' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  --x-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 20L10.768 13.232M13.228 10.772L20 4M4 4L15.733 20H20L8.267 4H4Z' stroke='%2394a3b8' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");

  --ifm-background-color: var(--background);
  --ifm-navbar-background-color: var(--background);
  --ifm-footer-background-color: var(--background);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

:root .DocSearch {
  --docsearch-searchbox-background: rgba(248, 250, 252, 1);
  --docsearch-searchbox-focus-background: rgba(248, 250, 252, 1);
  --docsearch-searchbox-border-color: rgba(203, 213, 225, 1);
  --docsearch-muted-color: rgba(148, 163, 184, 1);
  --docsearch-search-icon: url("data:image/svg+xml,%3Csvg width='310' height='24' viewBox='0 0 310 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L15 15M3 10C3 10.9193 3.18106 11.8295 3.53284 12.6788C3.88463 13.5281 4.40024 14.2997 5.05025 14.9497C5.70026 15.5998 6.47194 16.1154 7.32122 16.4672C8.1705 16.8189 9.08075 17 10 17C10.9193 17 11.8295 16.8189 12.6788 16.4672C13.5281 16.1154 14.2997 15.5998 14.9497 14.9497C15.5998 14.2997 16.1154 13.5281 16.4672 12.6788C16.8189 11.8295 17 10.9193 17 10C17 9.08075 16.8189 8.1705 16.4672 7.32122C16.1154 6.47194 15.5998 5.70026 14.9497 5.05025C14.2997 4.40024 13.5281 3.88463 12.6788 3.53284C11.8295 3.18106 10.9193 3 10 3C9.08075 3 8.1705 3.18106 7.32122 3.53284C6.47194 3.88463 5.70026 4.40024 5.05025 5.05025C4.40024 5.70026 3.88463 6.47194 3.53284 7.32122C3.18106 8.1705 3 9.08075 3 10Z' stroke='%2364748B' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3Cpath d='M45.5568 13.7273H47.2841L48.5 15.3125L49.0739 16.017L51.0114 18.5455H49.2159L47.9205 16.858L47.4773 16.2443L45.5568 13.7273ZM51.3864 11.6818C51.3864 12.9242 51.1591 13.9924 50.7045 14.8864C50.25 15.7765 49.6269 16.4621 48.8352 16.9432C48.0473 17.4205 47.1515 17.6591 46.1477 17.6591C45.1402 17.6591 44.2405 17.4205 43.4489 16.9432C42.661 16.4621 42.0398 15.7746 41.5852 14.8807C41.1307 13.9867 40.9034 12.9205 40.9034 11.6818C40.9034 10.4394 41.1307 9.37311 41.5852 8.48295C42.0398 7.58901 42.661 6.90341 43.4489 6.42614C44.2405 5.94508 45.1402 5.70455 46.1477 5.70455C47.1515 5.70455 48.0473 5.94508 48.8352 6.42614C49.6269 6.90341 50.25 7.58901 50.7045 8.48295C51.1591 9.37311 51.3864 10.4394 51.3864 11.6818ZM49.6477 11.6818C49.6477 10.7348 49.4943 9.9375 49.1875 9.28977C48.8845 8.63826 48.4678 8.14583 47.9375 7.8125C47.411 7.47538 46.8144 7.30682 46.1477 7.30682C45.4773 7.30682 44.8788 7.47538 44.3523 7.8125C43.8258 8.14583 43.4091 8.63826 43.1023 9.28977C42.7992 9.9375 42.6477 10.7348 42.6477 11.6818C42.6477 12.6288 42.7992 13.428 43.1023 14.0795C43.4091 14.7273 43.8258 15.2197 44.3523 15.5568C44.8788 15.8902 45.4773 16.0568 46.1477 16.0568C46.8144 16.0568 47.411 15.8902 47.9375 15.5568C48.4678 15.2197 48.8845 14.7273 49.1875 14.0795C49.4943 13.428 49.6477 12.6288 49.6477 11.6818ZM58.9673 13.8807V8.77273H60.6719V17.5H59.0014V15.9886H58.9105C58.7098 16.4545 58.3878 16.8428 57.9446 17.1534C57.5052 17.4602 56.9579 17.6136 56.3026 17.6136C55.742 17.6136 55.2457 17.4905 54.8139 17.2443C54.3859 16.9943 54.0488 16.625 53.8026 16.1364C53.5601 15.6477 53.4389 15.0436 53.4389 14.3239V8.77273H55.1378V14.1193C55.1378 14.714 55.3026 15.1875 55.6321 15.5398C55.9616 15.892 56.3897 16.0682 56.9162 16.0682C57.2344 16.0682 57.5507 15.9886 57.8651 15.8295C58.1832 15.6705 58.4465 15.4299 58.6548 15.108C58.867 14.786 58.9711 14.3769 58.9673 13.8807ZM62.9545 17.5V8.77273H64.6534V17.5H62.9545ZM63.8125 7.42614C63.517 7.42614 63.2633 7.32765 63.0511 7.13068C62.8428 6.92992 62.7386 6.69129 62.7386 6.41477C62.7386 6.13447 62.8428 5.89583 63.0511 5.69886C63.2633 5.49811 63.517 5.39773 63.8125 5.39773C64.108 5.39773 64.3598 5.49811 64.5682 5.69886C64.7803 5.89583 64.8864 6.13447 64.8864 6.41477C64.8864 6.69129 64.7803 6.92992 64.5682 7.13068C64.3598 7.32765 64.108 7.42614 63.8125 7.42614ZM70.6151 17.6761C69.7704 17.6761 69.0431 17.4848 68.4332 17.1023C67.8272 16.7159 67.3613 16.1837 67.0355 15.5057C66.7098 14.8277 66.5469 14.0511 66.5469 13.1761C66.5469 12.2898 66.7135 11.5076 67.0469 10.8295C67.3802 10.1477 67.8499 9.61553 68.456 9.23295C69.062 8.85038 69.776 8.65909 70.598 8.65909C71.2609 8.65909 71.8518 8.7822 72.3707 9.02841C72.8897 9.27083 73.3082 9.61174 73.6264 10.0511C73.9484 10.4905 74.1397 11.0038 74.2003 11.5909H72.5469C72.456 11.1818 72.2476 10.8295 71.9219 10.5341C71.5999 10.2386 71.1681 10.0909 70.6264 10.0909C70.1529 10.0909 69.7382 10.2159 69.3821 10.4659C69.0298 10.7121 68.7552 11.0644 68.5582 11.5227C68.3613 11.9773 68.2628 12.5152 68.2628 13.1364C68.2628 13.7727 68.3594 14.322 68.5526 14.7841C68.7457 15.2462 69.0185 15.6042 69.3707 15.858C69.7268 16.1117 70.1454 16.2386 70.6264 16.2386C70.9484 16.2386 71.2401 16.1799 71.5014 16.0625C71.7666 15.9413 71.9882 15.7689 72.1662 15.5455C72.348 15.322 72.4749 15.053 72.5469 14.7386H74.2003C74.1397 15.303 73.956 15.8068 73.6491 16.25C73.3423 16.6932 72.9313 17.0417 72.4162 17.2955C71.9048 17.5492 71.3045 17.6761 70.6151 17.6761ZM77.5795 14.5398L77.5682 12.4659H77.8636L81.3409 8.77273H83.375L79.4091 12.9773H79.142L77.5795 14.5398ZM76.017 17.5V5.86364H77.7159V17.5H76.017ZM81.5284 17.5L78.4034 13.3523L79.5739 12.1648L83.6136 17.5H81.5284ZM95.6974 10.9034L94.1577 11.1761C94.0933 10.9792 93.991 10.7917 93.8509 10.6136C93.7145 10.4356 93.5289 10.2898 93.294 10.1761C93.0592 10.0625 92.7656 10.0057 92.4134 10.0057C91.9323 10.0057 91.5308 10.1136 91.2088 10.3295C90.8868 10.5417 90.7259 10.8163 90.7259 11.1534C90.7259 11.4451 90.8338 11.6799 91.0497 11.858C91.2656 12.036 91.6141 12.1818 92.0952 12.2955L93.4815 12.6136C94.2846 12.7992 94.883 13.0852 95.277 13.4716C95.6709 13.858 95.8679 14.3598 95.8679 14.9773C95.8679 15.5 95.7164 15.9659 95.4134 16.375C95.1141 16.7803 94.6955 17.0985 94.1577 17.3295C93.6236 17.5606 93.0043 17.6761 92.2997 17.6761C91.3224 17.6761 90.5251 17.4678 89.9077 17.0511C89.2902 16.6307 88.9115 16.0341 88.7713 15.2614L90.4134 15.0114C90.5156 15.4394 90.7259 15.7633 91.044 15.983C91.3622 16.1989 91.777 16.3068 92.2884 16.3068C92.8452 16.3068 93.2902 16.1913 93.6236 15.9602C93.9569 15.7254 94.1236 15.4394 94.1236 15.1023C94.1236 14.8295 94.0213 14.6004 93.8168 14.4148C93.616 14.2292 93.3073 14.089 92.8906 13.9943L91.4134 13.6705C90.599 13.4848 89.9967 13.1894 89.6065 12.7841C89.2202 12.3788 89.027 11.8655 89.027 11.2443C89.027 10.7292 89.1709 10.2784 89.4588 9.89205C89.7467 9.50568 90.1444 9.20455 90.652 8.98864C91.1596 8.76894 91.741 8.65909 92.3963 8.65909C93.3395 8.65909 94.0819 8.86364 94.6236 9.27273C95.1652 9.67803 95.5232 10.2216 95.6974 10.9034ZM101.497 17.6761C100.637 17.6761 99.8968 17.4924 99.2756 17.125C98.6581 16.7538 98.1809 16.233 97.8438 15.5625C97.5104 14.8883 97.3438 14.0985 97.3438 13.1932C97.3438 12.2992 97.5104 11.5114 97.8438 10.8295C98.1809 10.1477 98.6506 9.61553 99.2528 9.23295C99.8589 8.85038 100.567 8.65909 101.378 8.65909C101.87 8.65909 102.348 8.74053 102.81 8.90341C103.272 9.06629 103.687 9.32197 104.054 9.67045C104.421 10.0189 104.711 10.4716 104.923 11.0284C105.135 11.5814 105.241 12.2538 105.241 13.0455V13.6477H98.304V12.375H103.577C103.577 11.928 103.486 11.5322 103.304 11.1875C103.122 10.839 102.866 10.5644 102.537 10.3636C102.211 10.1629 101.829 10.0625 101.389 10.0625C100.912 10.0625 100.495 10.1799 100.139 10.4148C99.7869 10.6458 99.5142 10.9489 99.321 11.3239C99.1316 11.6951 99.0369 12.0985 99.0369 12.5341V13.5284C99.0369 14.1117 99.1392 14.608 99.3438 15.017C99.5521 15.4261 99.8419 15.7386 100.213 15.9545C100.584 16.1667 101.018 16.2727 101.514 16.2727C101.836 16.2727 102.13 16.2273 102.395 16.1364C102.66 16.0417 102.889 15.9015 103.082 15.7159C103.276 15.5303 103.423 15.3011 103.526 15.0284L105.134 15.3182C105.005 15.7917 104.774 16.2064 104.44 16.5625C104.111 16.9148 103.696 17.1894 103.196 17.3864C102.7 17.5795 102.134 17.6761 101.497 17.6761ZM109.666 17.6932C109.113 17.6932 108.613 17.5909 108.166 17.3864C107.719 17.178 107.365 16.8769 107.104 16.483C106.846 16.089 106.717 15.6061 106.717 15.0341C106.717 14.5417 106.812 14.1364 107.001 13.8182C107.191 13.5 107.446 13.2481 107.768 13.0625C108.09 12.8769 108.45 12.7367 108.848 12.642C109.246 12.5473 109.651 12.4754 110.064 12.4261C110.587 12.3655 111.011 12.3163 111.337 12.2784C111.662 12.2367 111.899 12.1705 112.047 12.0795C112.195 11.9886 112.268 11.8409 112.268 11.6364V11.5966C112.268 11.1004 112.128 10.7159 111.848 10.4432C111.571 10.1705 111.159 10.0341 110.609 10.0341C110.037 10.0341 109.587 10.161 109.257 10.4148C108.931 10.6648 108.706 10.9432 108.581 11.25L106.984 10.8864C107.174 10.3561 107.45 9.92803 107.814 9.60227C108.181 9.27273 108.604 9.03409 109.081 8.88636C109.558 8.73485 110.06 8.65909 110.587 8.65909C110.935 8.65909 111.304 8.70076 111.695 8.78409C112.089 8.86364 112.456 9.01136 112.797 9.22727C113.142 9.44318 113.424 9.75189 113.643 10.1534C113.863 10.5511 113.973 11.0682 113.973 11.7045V17.5H112.314V16.3068H112.246C112.136 16.5265 111.971 16.7424 111.751 16.9545C111.532 17.1667 111.25 17.3428 110.905 17.483C110.56 17.6231 110.147 17.6932 109.666 17.6932ZM110.036 16.3295C110.505 16.3295 110.907 16.2367 111.24 16.0511C111.577 15.8655 111.833 15.6231 112.007 15.3239C112.185 15.0208 112.274 14.697 112.274 14.3523V13.2273C112.214 13.2879 112.096 13.3447 111.922 13.3977C111.751 13.447 111.556 13.4905 111.337 13.5284C111.117 13.5625 110.903 13.5947 110.695 13.625C110.486 13.6515 110.312 13.6742 110.172 13.6932C109.842 13.7348 109.541 13.8049 109.268 13.9034C109 14.0019 108.784 14.1439 108.621 14.3295C108.462 14.5114 108.382 14.7538 108.382 15.0568C108.382 15.4773 108.537 15.7955 108.848 16.0114C109.159 16.2235 109.554 16.3295 110.036 16.3295ZM116.236 17.5V8.77273H117.878V10.1591H117.969C118.128 9.68939 118.408 9.32008 118.81 9.05114C119.215 8.77841 119.673 8.64205 120.185 8.64205C120.291 8.64205 120.416 8.64583 120.56 8.65341C120.707 8.66098 120.823 8.67045 120.906 8.68182V10.3068C120.838 10.2879 120.717 10.267 120.543 10.2443C120.368 10.2178 120.194 10.2045 120.02 10.2045C119.618 10.2045 119.26 10.2898 118.946 10.4602C118.635 10.6269 118.389 10.8598 118.207 11.1591C118.026 11.4545 117.935 11.7917 117.935 12.1705V17.5H116.236ZM125.74 17.6761C124.895 17.6761 124.168 17.4848 123.558 17.1023C122.952 16.7159 122.486 16.1837 122.161 15.5057C121.835 14.8277 121.672 14.0511 121.672 13.1761C121.672 12.2898 121.839 11.5076 122.172 10.8295C122.505 10.1477 122.975 9.61553 123.581 9.23295C124.187 8.85038 124.901 8.65909 125.723 8.65909C126.386 8.65909 126.977 8.7822 127.496 9.02841C128.015 9.27083 128.433 9.61174 128.751 10.0511C129.073 10.4905 129.265 11.0038 129.325 11.5909H127.672C127.581 11.1818 127.373 10.8295 127.047 10.5341C126.725 10.2386 126.293 10.0909 125.751 10.0909C125.278 10.0909 124.863 10.2159 124.507 10.4659C124.155 10.7121 123.88 11.0644 123.683 11.5227C123.486 11.9773 123.388 12.5152 123.388 13.1364C123.388 13.7727 123.484 14.322 123.678 14.7841C123.871 15.2462 124.143 15.6042 124.496 15.858C124.852 16.1117 125.27 16.2386 125.751 16.2386C126.073 16.2386 126.365 16.1799 126.626 16.0625C126.892 15.9413 127.113 15.7689 127.291 15.5455C127.473 15.322 127.6 15.053 127.672 14.7386H129.325C129.265 15.303 129.081 15.8068 128.774 16.25C128.467 16.6932 128.056 17.0417 127.541 17.2955C127.03 17.5492 126.429 17.6761 125.74 17.6761ZM132.841 12.3182V17.5H131.142V5.86364H132.818V10.1932H132.926C133.131 9.72348 133.443 9.35038 133.864 9.07386C134.284 8.79735 134.833 8.65909 135.511 8.65909C136.11 8.65909 136.633 8.7822 137.08 9.02841C137.53 9.27462 137.879 9.64205 138.125 10.1307C138.375 10.6155 138.5 11.2216 138.5 11.9489V17.5H136.801V12.1534C136.801 11.5133 136.636 11.017 136.307 10.6648C135.977 10.3087 135.519 10.1307 134.932 10.1307C134.53 10.1307 134.17 10.2159 133.852 10.3864C133.538 10.5568 133.29 10.8068 133.108 11.1364C132.93 11.4621 132.841 11.8561 132.841 12.3182Z' fill='%2394A3B8'/%3E%3C/svg%3E%0A");
}
:root[data-theme="dark"] .DocSearch {
  --docsearch-searchbox-background: rgba(30, 41, 59, 1);
  --docsearch-searchbox-focus-background: rgba(30, 41, 59, 1);
  --docsearch-searchbox-border-color: rgba(71, 85, 105, 1);
  --docsearch-muted-color: rgba(51, 65, 85, 1);
  --docsearch-search-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L15 15M3 10C3 10.9193 3.18106 11.8295 3.53284 12.6788C3.88463 13.5281 4.40024 14.2997 5.05025 14.9497C5.70026 15.5998 6.47194 16.1154 7.32122 16.4672C8.1705 16.8189 9.08075 17 10 17C10.9193 17 11.8295 16.8189 12.6788 16.4672C13.5281 16.1154 14.2997 15.5998 14.9497 14.9497C15.5998 14.2997 16.1154 13.5281 16.4672 12.6788C16.8189 11.8295 17 10.9193 17 10C17 9.08075 16.8189 8.1705 16.4672 7.32122C16.1154 6.47194 15.5998 5.70026 14.9497 5.05025C14.2997 4.40024 13.5281 3.88463 12.6788 3.53284C11.8295 3.18106 10.9193 3 10 3C9.08075 3 8.1705 3.18106 7.32122 3.53284C6.47194 3.88463 5.70026 4.40024 5.05025 5.05025C4.40024 5.70026 3.88463 6.47194 3.53284 7.32122C3.18106 8.1705 3 9.08075 3 10Z' stroke='%23475569' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
}

.DocSearch.DocSearch-Button {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--docsearch-searchbox-border-color);
}
.DocSearch-Button-Keys {
  position: relative;
}
.DocSearch-Button-Keys > * {
  opacity: 0;
}
.DocSearch-Button-Keys::before {
  right: 0;
  width: max-content;
  position: absolute;
  font-size: 1rem;
  content: "Ctrl + K";
  height: 100%;
  display: flex;
  align-items: center;
}
.DocSearch-Button-Placeholder {
  font-size: 1rem;
}
.DocSearch-Button-Placeholder::before {
  content: "Quick ";
  padding-inline-start: 0.5em;
}
.DocSearch-Button-Container > .DocSearch-Search-Icon {
  display: none;
}
.DocSearch-Button-Container::before {
  content: "";
  height: 24px;
  width: 24px;
  background: var(--docsearch-search-icon);
}

/* Algolia Search */
.navbar__items--center > *,
.navbar__items--center > * > * {
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
}

.border-b {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.menu__link {
  border-radius: 6px;
}

.menu__link--active {
  font-weight: 600;
}
.menu_SIkG {
  padding: 0 !important;
}
.menu__list {
  padding: 24px;
}
.menu__list-item > .menu__list {
  padding-block: 0;
  margin-inline-start: 1.5rem;
  padding-inline-start: 0;
  border-inline-start: 1px solid var(--ifm-toc-border-color);
  --ifm-menu-color-background-active: transparent;
}
.menu__list-item > .menu__list > .menu__list-item > .menu__link {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
.menu__list-item > .menu__list > .menu__list-item > .menu__link--active {
  border-inline-start: 2px solid var(--ifm-menu-color-active);
  translate: -1.5px 0;
}
.markdown h1:first-child {
  --ifm-h1-font-size: 3rem;
}
.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}
.breadcrumbs__link {
  height: 20px;
}
.breadcrumbs__item {
  display: inline-flex;
}
/* menu caret */
.menu__caret::before {
  background-size: 1.5rem;
}
/* Pagination Previous and Next Buttons */
.pagination-nav__link {
  width: fit-content;
}
.pagination-nav__link.pagination-nav__link--prev {
  justify-self: start;
  display: flex;
}
.pagination-nav__link.pagination-nav__link--prev::before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.5em;
  width: 1.5em;
  content: " ";
  transform: rotate(-90deg);
}
.pagination-nav__link.pagination-nav__link--next {
  justify-self: end;
  display: flex;
}
.pagination-nav__page {
  display: flex;
  width: fit-content;
  position: relative;
  color: var(--primary);
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%2306b6d4%22%20d%3D%22M7.41%2015.41L12%2010.83l4.59%204.58L18%2014l-6-6-6%206z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
.pagination-nav__page::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary);
  transition: 0.2s ease-out width;
}
.pagination-nav__page:hover::before {
  width: calc(95% - 2px);
}
.pagination-nav__page::after,
.pagination-nav__link.pagination-nav__link--next::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.5em;
  width: 1.5em;
  content: " ";
  transform: rotate(90deg);
}
.pagination-nav__sublabel {
  font-size: 1rem;
  margin-bottom: 0;
  padding-inline: 10px;
  margin-block: auto;
}

/* Cards */
article.margin-bottom--lg {
  margin-bottom: 0 !important;
  padding: 0.75rem;
}

/* Navbar */
.navbar__toggle.sidebar__toggle {
  display: inherit;
}
@media screen and (max-width: 996px) {
  .navbar__toggle.sidebar__toggle {
    display: none;
  }
}

nav.navbar {
  padding: 24px;
}
.navbar__items--center {
  flex: 1;
}
@media screen and (max-width: 996px) {
  .navbar__items--center {
    display: none;
  }
  .navbar__items--right {
    display: none;
  }
}
.navbar-sidebar__brand {
  padding-inline: 20px;
}
.navbar-sidebar__item.menu > .menu__list > .menu__list-item {
  margin: 0;
}
.navbar-sidebar__item.menu:first-of-type > .menu__list {
  display: flex;
  gap: 12px;
}

.menu__link.header-icon-link:hover {
  background: none;
}
.footer__link-item.header-icon-link,
.menu__link.header-icon-link,
.navbar__link.header-icon-link {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 0;
}

.footer__link-item.header-icon-link::before,
.menu__link.header-icon-link::before,
.navbar__link.header-icon-link::before {
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
  border-radius: 50%;
  transform: scale(1.3);
  transform-origin: 50% 50%;
  transition: 0.2s ease-out all;
  background-color: #0000;
}

.footer__link-item.header-icon-link:hover::before,
.menu__link.header-icon-link:hover::before,
.navbar__link.header-icon-link:hover::before {
  position: absolute;
  content: "";
  z-index: -1;
  inset: 0;
  border-radius: 50%;
  transform: scale(1.5);
  transform-origin: 50% 50%;
  background: var(--ifm-color-emphasis-200);
}
.footer__link-item.header-icon-link.facebook,
.menu__link.header-icon-link.facebook,
.navbar__link.header-icon-link.facebook {
  background-image: var(--facebook-icon);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer__link-item.header-icon-link.discord,
.menu__link.header-icon-link.discord,
.navbar__link.header-icon-link.discord {
  background-image: var(--discord-icon);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer__link-item.header-icon-link.github,
.menu__link.header-icon-link.github,
.navbar__link.header-icon-link.github {
  background-image: var(--github-icon);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.footer__link-item.header-icon-link.x,
.menu__link.header-icon-link.x,
.navbar__link.header-icon-link.x {
  background-image: var(--x-icon);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Footer */
.custom-footer-link {
  color: inherit;
}
.custom-footer-link:hover {
  color: var(--primary);
}
footer.footer {
  border-top: 1px solid var(--ifm-toc-border-color);
  padding: 16px 24px;
}
.footer__links {
  display: inline-flex;
  gap: 12px;
  margin: 0 20px;
  isolation: isolate;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* Tabs */
.tabs[aria-orientation="horizontal"] {
  --ifm-tabs-padding-horizontal: 24px;
  --ifm-tabs-padding-vertical: 12px;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}
.tabs[aria-orientation="horizontal"] li + li {
  margin: 0;
}

/* Alerts */
.theme-admonition.alert {
  --ifm-alert-padding-vertical: 1.5rem;
  --ifm-alert-padding-horizontal: 1.5rem;
  --ifm-alert-border-width: 1px;
  --ifm-alert-border-radius: 0.25rem;
  --ifm-alert-border-left-width: 1px;
  --ifm-color-success-contrast-background: #ecfdf5;
  --ifm-color-success-contrast-foreground: #10b981;
  --ifm-color-success-dark: #6ee7b7;
  --ifm-color-info-contrast-background: #eef2ff;
  --ifm-color-info-contrast-foreground: #6366f1;
  --ifm-color-info-dark: #a5b4fc;
  --ifm-color-warning-contrast-background: #fffbeb;
  --ifm-color-warning-contrast-foreground: #f59e0b;
  --ifm-color-warning-dark: #fcd34d;
  --ifm-color-danger-contrast-background: #fef2f2;
  --ifm-color-danger-contrast-foreground: #ef4444;
  --ifm-color-danger-dark: #fca5a5;
}
:root[data-theme="dark"] .theme-admonition.alert {
  --ifm-color-success-contrast-background: #10b981;
  --ifm-color-success-contrast-foreground: #ecfdf5;
  --ifm-color-success-dark: #6ee7b7;
  --ifm-color-info-contrast-background: #6366f1;
  --ifm-color-info-contrast-foreground: #eef2ff;
  --ifm-color-info-dark: #a5b4fc;
  --ifm-color-warning-contrast-background: #f59e0b;
  --ifm-color-warning-contrast-foreground: #fffbeb;
  --ifm-color-warning-dark: #fcd34d;
  --ifm-color-danger-contrast-background: #ef4444;
  --ifm-color-danger-contrast-foreground: #fef2f2;
  --ifm-color-danger-dark: #fca5a5;
}

/* Toc */
.a.table-of-contents__link--active {
  font-weight: bold;
}
.table-of-contents__link:has(+ ul > li > a.table-of-contents__link--active),
.table-of-contents__link + ul > li > a.table-of-contents__link--active {
  border-color: var(--ifm-menu-color-active);
  color: var(--ifm-menu-color-active);
  font-weight: bold;
}

.table-of-contents__link + ul > li {
  margin: 0;
  border-left: 1px solid var(--ifm-toc-border-color);
  padding-block: 3px;
}
.table-of-contents__link + ul > li > a {
  margin: 0;
  border-left: 1px solid transparent;
  padding: 3px 16px;
  translate: -1px 0;
}

h1 {
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0;
}
p.center {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
h2 {
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0;
}
h3 {
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: 0;
}
h4 {
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0;
}
h5 {
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0;
}
p {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}
/* strong {
  color: var(--ifm-heading-color);
} */

.tooltip-parent {
  position: relative;
}
.tooltip-parent:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip {
  width: max-content;
  display: inline-block;
  position: absolute;
  top: -50%;
  right: 0%;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  padding: 0.5rem 0.75rem;
  margin-top: -0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transform: translate(50%, -50%);
  background-color: #171717;
  transition: opacity 0.2s ease-in-out;
}

.theme-back-to-top-button {
  display: none;
}

.navbar-sidebar__back {
  display: none;
}
