.admonition {
  margin-bottom: 1em;
  display: flex;
  gap: 24px;
}

.admonitionHeading {
  font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Heading alone without content (does not handle fragment content) */
.admonitionHeading:not(:last-child) {
  margin-bottom: 0.3rem;
  line-height: 150%;
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  margin-block: 4px;
  color: var(--ifm-alert-foreground-color);
}

.admonitionContent {
  text-transform: none;
  font-size: 1rem;
  font-weight: normal;
}
.admonitionContent > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 996px) {
  .admonition {
    gap: 16px;
    padding: 16px;
  }
  .admonitionHeading:not(:last-child) {
    margin-bottom: 0;
    font-size: 1.1rem;
  }
  .admonitionContent {
    font-size: 0.9rem;
  }
}
